In [1]:
%matplotlib notebook
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import neighbors
from matplotlib.colors import ListedColormap, BoundaryNorm
import matplotlib.patches as mpatches

In [10]:
data = pd.read_csv("C:/Users/Asus/Downloads/spam_ham_dataset.csv")

In [11]:
print(data.shape)

(5171, 4)

In [12]:
data.head(5)

      X label                                               text  label_num
0   605   ham  Subject: enron methanol ; meter # : 988291\r\n...          0
1  2349   ham  Subject: hpl nom for january 9 , 2001\r\n( see...          0
2  3624   ham  Subject: neon retreat\r\nho ho ho , we ' re ar...          0
3  4685  spam  Subject: photoshop , windows , office . cheap ...          1
4  2030   ham  Subject: re : indian springs\r\nthis deal is t...          0

data.info()

In [13]:
label_name = dict(zip(data.label_num.unique(), data.label.unique()))
print (label_name)

{0: 'ham', 1: 'spam'}

In [31]:
x = data[['X']]
y = data['label_num']

X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=0 )

In [15]:
print('X_train=', X_train.shape)
print('X_test=', X_test.shape)
print('y_train=', y_train.shape)
print('y_test=', y_test.shape)

X_train= (4136, 1)
X_test= (1035, 1)
y_train= (4136,)
y_test= (1035,)

In [16]:
X_train.head()

         X
3628   591
2491  1256
3262  1303
2972  3268
2481  3763

In [17]:
y_train.head()

3628     ham
2491     ham
3262     ham
2972     ham
2481    spam
Name: label, dtype: object

In [38]:
knn = KNeighborsClassifier(n_neighbors= 5)

knn.fit(X_train, y_train)

KNeighborsClassifier()

In [39]:
knn.score(X_test, y_test)

1.0

In [46]:
label_prediction = knn.predict(X_test)
label_name[label_prediction[0]]

'ham'

In [42]:
from sklearn.metrics import classification_report, confusion_matrix

In [47]:
print(confusion_matrix(y_test, label_prediction ))

[[732   0]
 [  0 303]]

In [48]:
print(classification_report(y_test, label_prediction))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       732
           1       1.00      1.00      1.00       303

    accuracy                           1.00      1035
   macro avg       1.00      1.00      1.00      1035
weighted avg       1.00      1.00      1.00      1035